body {
  margin: 0;
  font-family: 'Patua One', cursive;
}

#container, #messages {
  margin: 0 auto;
  background: white;
}

#clickMsg {
  font-size: 36px;
  padding-bottom: 15px;
}

#messages {
  background: #ececec;
  width: 100%;
  height: 80px;
  text-align: center;
  padding: 60px 0 60px 0;
}

#container {
  width: 510px;
  height: 100%;
  align-items: center;
  padding: 60px 0 0 0;
}

#pink, #blue, #turquoise, #orange {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  float: left;
  margin: 10px;
}

#pink {
  background: pink;
}

#blue {
  background: blue;
}

#turquoise {
  background: turquoise;
}

#orange {
  background: orange;
}
